[Desktop Entry]
Version=1.0
Type=Application
Name=M3Player
Comment=M3P Flutter Media Player
Exec=m3p_flutter %u
Icon=com.example.M3Player
Terminal=false
Categories=AudioVideo;Audio;Player;
